transformers==4.36.0
https://github.com/jllllll/bitsandbytes-windows-webui/releases/download/wheels/bitsandbytes-0.41.1-py3-none-win_amd64.whl
accelerate
scikit-learn
torcheval
tensorboard
flash-attn

--find-links https://download.pytorch.org/whl/cu121

torch==2.2.0+cu121

#  pip install -q -U git+https://github.com/huggingface/transformers.git

# pip install torch --index-url https://download.pytorch.org/whl/cu121

#pip install fsspec==2023.9.2


# pip install torch==2.2.0+cu121 -f https://download.pytorch.org/whl/torch_stable.html
# pip uninstall bitsandbytes
# pip uninstall bitsandbytes-windows
# pip install https://github.com/jllllll/bitsandbytes-windows-webui/releases/download/wheels/bitsandbytes-0.41.1-py3-none-win_amd64.whl