transformers==4.36.0
https://github.com/jllllll/bitsandbytes-windows-webui/releases/download/wheels/bitsandbytes-0.41.1-py3-none-win_amd64.whl
accelerate
scikit-learn
torcheval
tensorboard

--find-links https://download.pytorch.org/whl/cu121

torch==2.2.0+cu121

# pip install torch --index-url https://download.pytorch.org/whl/cu121